<section id="dashboard">
    <h1>DASHBOARD</h1>

    <h3>Statistics</h3>
    <ul>
        <li>Open tickets: {{ open }}</li>
        <li>Closed tickets: {{ closed }}</li>
        <li>Re-opened tickets: {{ reopened }}</li>
        <li>% of re-opened tickets: {{ percent }}</li>
    </ul>

</section>