{% extends 'base.html.twig' %}

{% block title %}Mail agent{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <div id="mail" class="form">
            <h1 class="h3 mb-2 font-weight-normal">Mail to agent</h1>
            <hr>
            <br>
            {{ form_start(form) }}
                    {{ form_row(form.response) }}
                    {{ form_row(form.send) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
