{% extends 'base.html.twig' %}

{% block title %}Escalate Ticket{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <div id="reAssign" class="form">
            <h1 class="h3 mb-2 font-weight-normal">Re-assign ticket</h1>
            <hr>
            <p class="mb-4">Current assigned agent: {{ user.username }}</p>
            <form method="post">
                <div class="form-group">
                    <select class="form-control" name="agents">
                        {% for user in users %}
                            {% if roles['FLA'] in user.roles and roles['MANAGER'] not in user.roles and user.id != ticket.agentId %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn mb-3" id="saveBtn" type="submit" name="save">Re-assign Agent</button>
            </form>
            <a class="text-center mt-2" href="{{ path('ticket_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
